@use "../vendors/bootstrap-5.3.2/bootstrap.scss";

header {
    .navbar {
        // &.navbar-dark {
        //     background-color: $primary;
        // }
        // &.navbar-light {
        //     background-color: $white;
        // }

        background-color: #e3f2fd;
    }
}

.breadcrumbs {
    padding: 1rem 1.5rem;

    a {
        &.active {
            background-color: #e3f2fd;
        }

        &.disabled,
        &:disabled {
            color: red;
        }
    }
}
