<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcJsModules</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
</head>
<body>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div id="counter-container" class="col"></div>

            <div id="counter2-container" class="col"></div>
        </div>

        @RenderBody()
        <div id="pager-container" class="col"></div>
    </main>
</div>


@await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/Counter.bundle.js"></script>
<script src="~/js/Counter2.bundle.js"></script>
    <script src="~/js/Pager.bundle.js"></script>
</body>
</html>