@using Deliscio.Web.Site.ViewComponents.TagCloud
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Deliscio.Modules.Links.Common.Models
@model Deliscio.Web.Site.ViewModels.Home.HomePageViewModel

@{
    ViewBag.PageTitle = Model.PageTitle;
    ViewBag.PageDescription = Model.PageDescription;
    ViewBag.CanonicalUrl = Model.CanonicalUrl;

    var results = Model.Results;
}

<div id="home-page" class="d-flex flex-grow-1" style="outline: 1px solid red;">
    <div id="links-container" style="outline: 1px solid green;">
        @{
            await Html.RenderPartialAsync("Links/_LinkCards", results.Items);
        }

        <a asp-controller="Links" asp-action="Index" asp-route-p="1" class="btn btn-primary">More</a>

        <div id="pager-container"
             data-pageno="@results.PageNumber"
             data-size="@results.PageSize"
             data-pages="@results.TotalPages"
             data-total-results="@results.TotalResults"
             data-base-url="/links">
        </div>
    </div>
    <div class="flex-shrink-0" style="width: 30%; max-width: 400px; outline: 1px solid blue;">
        <vc:tag-cloud count="100"></vc:tag-cloud>
    </div>
</div>

@section Scripts {
    <script type="module" src="client/app.js"></script>
    <script type="module" src="client/home.js"></script>
}