<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="MongoDbOptions" type="System.Configuration.AppSettingsSection" />"
    </configSections>
    <!-- <connectionStrings> -->
    <!--     <add name="mongodb" -->
    <!--          connectionString="mongodb://mongo:g%3F7%3CVd%3E9v4%3BZKk%3DJ@localhost:27018/?authMechanism=DEFAULT" /> -->
    <!-- </connectionStrings> -->
    <MongoDbOptions>    <add key="DatabaseName" value="test" />
        <add key="ConnectionString"
             value="mongodb://mongo:g%3F7%3CVd%3E9v4%3BZKk%3DJ@localhost:27018/?authMechanism=DEFAULT" />
    
    </MongoDbOptions>

</configuration>