<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MongoDbSettings" type="Deliscio.Core.Data.Mongo.MongoDbOptions, Deliscio.Core.Data.Mongo" />
	</configSections>
	<MongoDbSettings>
		<ConnectionString>mongodb://localhost:27017</ConnectionString>
		<DatabaseName>Deliscio</DatabaseName>
	</MongoDbSettings>
</configuration>