{
   "semi": true,
   "singleQuote": true,
   "tabWidth": 3,
   "useTabs": false,
   "insertPragma": false,
   "printWidth": 100,
   "jsxBracketSameLine": true,
   "jsxSingleQuote": true,
   "tsxBracketSameLine": true,
   "tsxSingleQuote": true
}
