.pill {
   display: inline-block;
   background-color: #ff0100;
   color: #fff;
   padding: 0.2rem 0.5rem;
   border-radius: 2px;
   font-size: 0.8rem;
   margin-right: 0.5rem;

   &:hover {
      background-color: #ff5733;
   }
}
