@using Deliscio.Modules.Authentication.Common.Models
@model FluentResults.Result<Deliscio.Core.Models.PagedResults<Deliscio.Modules.Authentication.Common.Models.Role>>

@{
    ViewBag.Title = "Roles";

    var page = Model.ValueOrDefault;
    var roles = page?.Items?.ToArray() ?? Array.Empty<Role>();
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Roles</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.IsFailed)
                            {
                                <tr>
                                    <td colspan="4" class="alert alert-danger">
                                        <strong>Error:</strong> @Model.Reasons.FirstOrDefault()?.Message ?? "An error occurred"
                                    </td>
                                </tr>
                            }

                            @if (!roles.Any())
                            {
                                <tr>
                                    <td colspan="2">No roles found</td>
                                </tr>
                            }
                            else
                            {

                                @foreach (var role in roles)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td>
                                            @* <a href="@Url.Action("Edit", new { id = role.id })" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="@Url.Action("Delete", new { id = role.id })" class="btn btn-danger btn-sm">Delete</a> *@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>