

$tag-bg-1: #ff0100;
$tag-bg-2: #0d6efd;
$tag-bg-3: #6c757d;
$tag-bg-4: #198754;
$tag-bg-5: #ffc107;
$tag-bg-6: #0dcaf0;
$tag-bg-7: #d90502;
$tag-bg-8: #0d6efd;
$tag-bg-9: #6c757d;
$tag-bg-10: #198754;

$tag-fg-1: #fff;
$tag-fg-2: #fff;
$tag-fg-3: #fff;
$tag-fg-4: #fff;
$tag-fg-5: #212529;
$tag-fg-6: #212529;
$tag-fg-7: #212529;
$tag-fg-8: #212529;
$tag-fg-9: #212529;
$tag-fg-10: #212529;
