$bg-tag-1: #ff0100;
$bg-tag-2: #0d6efd;
$bg-tag-3: #6c757d;
$bg-tag-4: #198754;
$bg-tag-5: #ffc107;
$bg-tag-6: #0dcaf0;
$bg-tag-7: #d90502;
$bg-tag-8: #0d6efd;
$bg-tag-9: #6c757d;
$bg-tag-10: #198754;

$fg-tag-1: #fff;
$fg-tag-2: #fff;
$fg-tag-3: #fff;
$fg-tag-4: #fff;
$fg-tag-5: #212529;
$fg-tag-6: #212529;
$fg-tag-7: #212529;
$fg-tag-8: #212529;
$fg-tag-9: #212529;
$fg-tag-10: #212529;
