* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   background-color: #22272e;
   color: #adbac7;
   min-height: 100vh;
   max-width: 100vw;
   overflow-x: hidden;
}

.deliscio {
   color: #d90502;
}

.bg-deliscio {
   background-color: #d90502;
}

main {
   flex: 1;
   //    max-width: 1200px;
   margin: 0 auto;
   padding: 0 2rem;
   display: flex;
   flex-direction: row;
}

aside {
   display: none;
   flex-direction: column;
   width: 33%;
}

@media (min-width: 768px) {
   /* Default is hidden. Display if screen is larger than 768px */
   aside {
      display: flex;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
}
