.content {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;

   max-width: 1200px;
   width: 100%;
}

// @media (min-width: 768px) {
//    /* Default is hidden. Display if screen is larger than 768px */
//    .sidebar {
//       display: flex;
//    }
// }
