<div class="link-card">
    <a href="/links/09de2201-414d-4d70-9d6c-f4d55a2f784e">
        <img
            src="https://opengraph.githubassets.com/5be0a8e75b8663653027c3e9ec71bc28498fb409b4bd63cac54901f98bf3e569/aspnet/SignalR"
            class="card-img-top"
            alt="SignalR/src/Microsoft.AspNetCore.SignalR.Core/M..."
            width="0"
            height="0"
            sizes="100vw"
            style="width: 100%; height: auto"
            data-src="https://opengraph.githubassets.com/5be0a8e75b8663653027c3e9ec71bc28498fb409b4bd63cac54901f98bf3e569/aspnet/SignalR"
        />
        <div class="link-card-body">
            <h5 class="link-card-title">
                SignalR/src/Microsoft.AspNetCore.SignalR.Core/M...
            </h5>
            <p>via : <span>github.com</span></p>
            <p class="link-card-description">
                [Archived] Incredibly simple real-time web for ASP.NET Core.
                Project moved to https://github.com/...
            </p>
        </div>
    </a>
    <div class="link-card-footer">
        <span class="tag-pills">
            <span key="microsoft" class="tag tag-1">
                <a
                    href="/links?t=microsoft"
                    style="font-size: 1.7142857"
                    title="microsoft Tag"
                >
                    microsoft
                </a>
            </span>

            <span key="git" class="tag tag-2">
                <a
                    href="/links?t=git"
                    style="font-size: 1.7142857"
                    title="git Tag"
                >
                    git
                </a>
            </span>

            <span key="github" class="tag tag-3">
                <a
                    href="/links?t=github"
                    style="font-size: 1.7142857"
                    title="github Tag"
                >
                    github
                </a>
            </span>

            <span key="version control" class="tag tag-4">
                <a
                    href="/links?t=version+control"
                    style="font-size: 1.7142857"
                    title="version control Tag"
                >
                    version control
                </a>
            </span>

            <span key="ci-cd" class="tag tag-5">
                <a
                    href="/links?t=ci-cd"
                    style="font-size: 1.7142857"
                    title="ci-cd Tag"
                >
                    ci-cd
                </a>
            </span>

            <span key="csharp" class="tag tag-6">
                <a
                    href="/links?t=csharp"
                    style="font-size: 1.7142857"
                    title="csharp Tag"
                >
                    csharp
                </a>
            </span>

            <span key="dotnet" class="tag tag-7">
                <a
                    href="/links?t=dotnet"
                    style="font-size: 1.7142857"
                    title="dotnet Tag"
                >
                    dotnet
                </a>
            </span>
        </span>
    </div>
</div>
