<div class="link-card">
    <a href="/">
        <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            class="card-img-top"
            alt="Link's Title"
            width="0"
            height="0"
            sizes="100vw"
            style="width: 100%; height: auto"
            data-src="https://dummyimage.com/800x600/15b3d6/c91a46"
        />
        <div class="link-card-body">
            <h5 class="link-card-title">Link's 4 Title</h5>
            <p>via: <span>DomainName.com</span></p>
            <p class="link-card-description">
                LOrem ipsum. LOrem ipsum. LOrem ipsum. LOrem ipsum. LOrem ipsum.
                LOrem ipsum. LOrem ipsum.
            </p>
        </div>
    </a>
    <div class="link-card-footer">
        <span class="tag-pills">
            <span key="tag-name-1" class="tag tag-3">
                <a
                    href="@Model.Href"
                    style="font-size: 1rem"
                    title="Tag Name 1"
                >
                    Tag Name 1
                </a>
            </span>
            <span key="tag-name-2" class="tag tag-4">
                <a
                    href="@Model.Href"
                    style="font-size: 1rem"
                    title="Tag Name 2"
                >
                    Tag Name 2
                </a>
            </span>
            <span key="tag-name-3" class="tag tag-5">
                <a
                    href="@Model.Href"
                    style="font-size: 1rem"
                    title="Tag Name 1"
                >
                    Tag Name 3
                </a>
            </span>
            <span key="tag-name-4" class="tag tag-3">
                <a
                    href="@Model.Href"
                    style="font-size: 1rem"
                    title="Tag Name 1"
                >
                    Tag Name 4
                </a>
            </span>
            <span key="tag-name-5" class="tag tag-1">
                <a
                    href="@Model.Href"
                    style="font-size: 1rem"
                    title="Tag Name 5"
                >
                    Tag Name 5
                </a>
            </span>
        </span>
    </div>
</div>
