.panel {
   h4 {
      text-decoration: underline;
      margin-bottom: 1.5rem;
   }
}

.card {
   background-color: transparent;
   //    background-color: #2d333b;
   border: 1px solid #444c56;
}

.card-header {
   background-color: #2d333b;
   border: 0px;
   color: #adbac7;
   text-transform: uppercase;
   text-align: center;
}
