.blog,
.sidebar {
    flex: 1 100%;
}

.blog {
    background: #80f080;
    padding: 10px;
}

/* medium screen */
@media all and (min-width: 600px) {
    /* if screen > 600px sidebar appears alongside blog getting 1/3rd of space */
    .blog {
        flex: 2 0px;
    }
    .sidebar {
        flex: 1 0px;
    }
}

/* Large screens */
@media all and (min-width: 800px) {
    /* On bigger screens, sidebar now only gets 1/4 of space */
    .blog {
        flex: 3 0px;
    }
    .sidebar {
        flex: 1 0px;
    }
}
