.link-item {
   //    align-self: flex-start;
   background-color: #2d333b;
   border: 2px solid #444c56;
   border-radius: 0.75rem;
   color: #adbac7;
   display: flex;
   flex-direction: column;
   height: auto;
   min-width: 23%;
   max-width: 32.5%;
   margin-bottom: 1rem;
   padding: 2px;

   a {
      flex: 1;
   }

   transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for smooth animation */

   &:hover {
      transform: scale(1.025) translateY(-5px); /* Grow the element by 5% and shift it 5 pixels upwards on hover */
      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.1); /* Add a glow effect with a white color */
   }

   img {
      width: 100%;
      height: auto;
      border-radius: 8px;
   }

   .title {
      color: #adbac7;
      font-weight: 900;
      padding-top: 5px;
      padding-bottom: 5px;
   }

   .description {
      flex: 1;
      color: #adbac7;
   }

   .footer-tags {
      background-color: #1c2128;
      padding: 0.5rem;

      .tag {
         //  display: inline-block;
         //  background-color: #ff0100;
         //  color: #fff;
         //  padding: 0.2rem 0.5rem;
         //  border-radius: 2px;
         //  font-size: 0.8rem;
         //  margin-right: 0.5rem;
      }
   }
}
