@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="pager-container"></div>
</div>

@section Scripts {
@*     <script type="module" src="./js/components/Pager/index-create-root.js"></script>
    <script type="module">
        var pager = () => Pager({
            container: '#pager-container',
            total: 555,
            page: 23,
            pageSize: 12,
            url: '/api/links'
        });
        pager.render();
    </script> *@
}