.card {
   background-color: transparent;
   //    background-color: #2d333b;
   border: 1px solid #444c56;
}

.card-header {
   background-color: #2d333b;
   border: 0px;
   color: #adbac7;
   text-transform: uppercase;
   text-align: center;
}

.tag-pills {
   span {
      border-radius: 0.5rem;
      font-size: 0.75rem;
      margin: 0;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.25em 0.5em;

      &:last-of-type {
         margin-right: 0;
      }

      &:not(:first-of-type) {
         // margin-right: 0.5rem;
      }
   }
}
