//
// Global
//

html,
body {
    height: 100%;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.error {
    color: $red;
}

.success {
    color: $green;
}

table {
    tbody {
        td {
            a {
                text-decoration: none;
                font-weight: bold;
                color: $black;
            }
        }
    }
}
